<section class="section background">
    <div class="section-title">
        Background
    </div>
    <div class="section-content">
        <p> I'm a fourth year student at the <strong>University of Massachusetts Amherst</strong> expecting to graduate in May 2018. After graduation, I'll be moving to Portland, OR to join <strong>Carbon Black</strong> as a Software Engineer.</p>
        <p> Ever since I was young, I've liked to build things. As a child, that usually meant playing with Legos or marble tracks. Once I discovered programming, my "building" took on a digital aspect. In the past few years, I've become increasingly interested in building teams and communities. The process of starting with a blank slate and creating something new drives me like nothing else.</p>
        <p> Creation for creation's sake, however, is unfulfilling. I am particularly attracted to values-based projects and companies with a clear vision to either promote the general welfare, help others achieve their goals, or else add a little more fun to life.</p>
        <p><strong>When I'm not working</strong>, you'll most likely find me traveling abroad, lost in a good book, or playing board games with friends.</p>
    </div>
</section>
