<section class="section experience">
    <div class="section-title">
        Experience
    </div>
    <div class="section-content">
        <div class="jobs">
            {% for job in site.data.experience %}
            <div class="job">
            <div class="time-place">
                <div class="job-company">
                    <a href="{{ job.url }}" target="_blank">{{ job.company }}</a>
                </div>
                <div class="job-time">{{ job.time }}</div>
            </div>
            <div class="job-position">{{ job.position }}</div>
        </div>
        {% endfor %}
    </div>

        <a href="/resume.pdf" target="_blank" class="arrow-link">View My Resume</a>
    </div>
</section>
