<footer class="footer">
    <div class="footer-copyright">
        <div class="top">
            <span>Developed by Makenzie Schwartz | 2018</span>
        </div>
        <div class="bottom">
            <span>Based on <a href="bchiang7.github.io" target="_blank">Brittany Chiang's awesome design.</a></span>
        </div>
    </div>
    <div class="footer-links">
        {% for link in site.social %}
        <a href="{{ link.url }}" target="_blank" title="{{ link.title }}">
            <span class="text">{{ link.title }}</span>
        </a>
        {% endfor %}
    </div>
</footer>
