<section class="section skills">
    <div class="section-title">
        Skills
    </div>
    <div class="section-content">
        <div class="skillz">
            <div class="skillz-category">
                <div class="skillz-category-label">Languages</div>
                <ul>
                    {% for language in site.data.skills.languages %}
                    <li class="skillz-category-item">{{ language.item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="skillz-category">
                <div class="skillz-category-label">Frameworks</div>
                <ul>
                    {% for framework in site.data.skills.frameworks %}
                    <li class="skillz-category-item">{{ framework.item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="skillz-category">
                <div class="skillz-category-label">Tools</div>
                <ul>
                    {% for tool in site.data.skills.tools %}
                    <li class="skillz-category-item">{{ tool.item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
