.skills {
    .skillz {
        display: flex;
        justify-content: space-between;
       &-category {
           &-label {
                font-weight: 600;
                color: #000000;
                text-transform: uppercase;
            }
            &-item {
                margin: 3px 0;
                font-size: 0.9rem;
            }
        }
    }
}
