.footer {
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-copyright {
        font-weight: 500;
        width: 200px;
    }
    &-links {
        a {
            position: relative;
            display: inline-block;
            color: $red !important;
            text-transform: uppercase;
            font-weight: 600;
            margin: 0 15px;
            outline: none;
            &:after {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 1px;
                background: $red;
                content: '';
                opacity: 0;
                transition: height 0.3s, opacity 0.3s, transform 0.3s;
                transform: translateY(-5px);
            }
            &:hover:after,
            &:focus:after {
                height: 2px;
                border-radius: 3px;
                opacity: 1;
                transform: translateY(0px);
            }
            .text {
                font-size: 0.9rem;
                display: inline;
                letter-spacing: 1px;
            }
        }
    }
}
